PythonScripts/IARFILES/new iars/INSERTINTOATP_01.00.0000/icspackage/project/INSERTINTOATP_01.00.0000/resources/application_34/inbound_35/resourcegroup_36/InsertIntoTable_REQUEST.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><xs:schema targetNamespace="http://xmlns.oracle.com/cloud/adapter/database/InsertIntoTable_REQUEST/types" xmlns="http://xmlns.oracle.com/cloud/adapter/database/InsertIntoTable_REQUEST/types" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">   <xs:element name="PersonCollection" type="PersonCollection"/>   <xs:complexType name="PersonCollection">      <xs:sequence>         <xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded"/>      </xs:sequence>   </xs:complexType>   <xs:complexType name="Person">      <xs:sequence>         <xs:element name="personId" type="xs:decimal"/>         <xs:element name="firstName" type="string50" minOccurs="0"/>         <xs:element name="lastName" type="string50" minOccurs="0"/>      </xs:sequence>   </xs:complexType>   <xs:simpleType name="string50">      <xs:restriction base="xs:string">         <xs:maxLength value="50"/>      </xs:restriction>   </xs:simpleType></xs:schema>